/[Bb]uild/
/[Ll]ibrary/
/[Ll]ogs/
/[Oo]bj/
/[Pp]ostProcessing/
/[Tt]emp/
/[Uu]serSettings/
/[Vv]ideo/
/[Aa]ssets/AssetStoreTools*
/[Aa]ssets/Plugins/Android/assets*
/Assets/AddressableAssetsData/*/*.bin
/Assets/StreamingAssets/aa/*
.collabignore
.DS_Store
*.csproj
*.unitypackage
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svclog
*.pdb
*.mdb
*.opendb
*.db
*.db-journal
*.swp
*~
*.orig
.idea/
.vs/
.vscode/
/[Mm]emoryCaptures/
/[Rr]ecordings/
/[Aa]ssets/[Vv]ideo/
/[Aa]ssets/[Mm]edia/
/[Aa]ssets/[Sa]mples/
[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/
/[Aa]ssets/[Ss]treaming[Aa]ssets/
